In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm

In [3]:
# Load clean data
fomc_rates = pd.read_csv('inputs/Clean_Data/Clean_Rates.csv')
sp500_ret = pd.read_csv('inputs/Clean_Data/Clean_sp500_ret.csv')
stock_tv = pd.read_csv('inputs/Clean_Data/Clean_stock_tv.csv')
Vbilx = pd.read_csv('inputs/Clean_Data/Clean_Vbilx.csv')
Vbirx= pd.read_csv('inputs/Clean_Data/Clean_Vbirx.csv')

In [4]:
sp500_ret = sp500_ret.rename(columns = {'date': 'Date','Daily Returns' : 'SP_daily_ret', 'Price': 'SP_daily_price' })

In [5]:
Vbirx
Vbirx = Vbirx.rename(columns = {'Daily Returns' : 'VBIRX_daily_ret', 'Price': 'VBIRX_daily_price' })
Vbirx = Vbirx.rename(columns = {'Daily Price': 'VBIRX_daily_price' })
Vbirx

      VBIRX_daily_ret  VBIRX_daily_price        Date
0            0.000000           9.148480  2015-01-02
1            0.000954           9.157207  2015-01-05
2            0.000953           9.165930  2015-01-06
3            0.000951           9.174648  2015-01-07
4           -0.000950           9.165930  2015-01-08
...               ...                ...         ...
2086         0.000000           9.990000  2023-04-18
2087        -0.001001           9.980000  2023-04-19
2088         0.002004          10.000000  2023-04-20
2089         0.000000          10.000000  2023-04-21
2090         0.001000          10.010000  2023-04-24

[2091 rows x 3 columns]

In [6]:
Vbilx = Vbilx.rename(columns = {'Daily Price': 'VBILX_daily_price', 'Daily Returns' : 'VBLIX_daily_ret' })
Vbilx

      VBLIX_daily_ret  VBILX_daily_price        Date
0            0.004348           9.135244  2015-01-05
1            0.004329           9.174787  2015-01-06
2            0.000000           9.174787  2015-01-07
3           -0.002586           9.151057  2015-01-08
4            0.003458           9.182699  2015-01-09
...               ...                ...         ...
2085         0.001938          10.340000  2023-04-18
2086        -0.001934          10.320000  2023-04-19
2087         0.003876          10.360000  2023-04-20
2088        -0.001930          10.340000  2023-04-21
2089         0.003868          10.380000  2023-04-24

[2090 rows x 3 columns]

In [7]:
sp500_ret = sp500_ret.rename(columns = {'returns' : 'sp500_ret'})
sp500_ret

            Date  S&P_500  sp500_ret
0     2015-01-05  2020.58  -0.018278
1     2015-01-06  2002.61  -0.008893
2     2015-01-07  2025.90   0.011630
3     2015-01-08  2062.14   0.017888
4     2015-01-09  2044.81  -0.008404
...          ...      ...        ...
2085  2023-04-18  4154.87   0.000855
2086  2023-04-19  4154.52  -0.000084
2087  2023-04-20  4129.79  -0.005953
2088  2023-04-21  4133.52   0.000903
2089  2023-04-24  4137.04   0.000852

[2090 rows x 3 columns]

In [8]:
stock_tv
stock_tv.drop_duplicates(inplace=True)
stock_tv = stock_tv.rename(columns = {'Value' : 'sp500_tv'})
stock_tv

        Date   sp500_tv
0    12/2/15  1088000.0
1    12/3/15  1379000.0
2    12/4/15  1308000.0
3    12/7/15   712744.0
4    12/8/15   670998.0
..       ...        ...
489  3/31/23  3293000.0
490   4/3/23  2494000.0
491   4/4/23  2687000.0
492   4/5/23  2311000.0
493   4/6/23  2462000.0

[494 rows x 2 columns]

In [9]:
final_data = sp500_ret.merge(Vbilx, 
              on=['Date'],
              how='left',
              validate='one_to_one') # or 'many_to_one'

In [10]:
final_data2 = final_data.merge(Vbirx, on=['Date'],
              how='left',
              validate='one_to_one')

In [11]:
#all = final_data2.merge(fomc_rates, on = ["Date"], how = 'left')
#all

In [22]:
fomc_rates.columns

Index(['Date', 'Increase', 'Decrease', 'Tgt_level'], dtype='object')

In [12]:
import glob
import os
from time import sleep

from tqdm import tqdm
import fnmatch

In [20]:
eventtime_rets = (
    final_data2.merge(fomc_rates, on = ["Date"], how = 'left', 
                      validate = 'm:1', indicator = True)
    
    .assign(event = lambda x: (x['_merge'] == 'both').astype(int),
                   increment = np.arange(len(final_data2)))
    
    .assign(inc_at_e = lambda x: x['event']*x['increment'])
    
    #inc_at_e alwasy equal to increment # at firms event
    .assign(inc_at_e = lambda x: x.groupby('Increase')['inc_at_e'].transform(sum))
    
    #compute event time
    .assign(event_time = lambda x: x['increment'] -x['inc_at_e'])
   
    #reduce event time [-15, +15]
    .query('(event_time >= -15) & (event_time <= 15)')
)

In [27]:
rate_change_rets = (eventtime_rets
                    .assign(R_0_2 = lambda x: np.where(((x.event_time >= 0) & (x.event_time <=2)),
                                                        1+x['ret'],
                                                        np.nan),
                            R_2_10 = lambda x: np.where(((x.event_time >= 3) & (x.event_time <=10)),
                                                        1+x['ret'],
                                                        np.nan),
                           )
                    .groupby(['Increase'])
                    [['R_0_2','R_0_2']].prod()
                    -1
                   ).reset_index()

KeyError: 'sp500_tv'